<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventEase - Events</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>All Events</h1>
    <ul>
        {% for event in events %}
        <li>
            <a href="{{ url_for('event_details', event_id=event._id) }}">{{ event.title }}</a> - {{ event.date }}
        </li>
        {% endfor %}
    </ul>
    <a href="/">Go to Home</a>
</body>
</html>
